body {background-color:black;font-family:arial;color:white}
h1{color:gry;font-family:verdana}
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align: center;
}
.texts {
    display: inline-block;
    padding: 30px;
    align: center;
}
.container1 {
display: inline-block;
    margin-left: 20px;
    align: center;
}
.container2 {
display: inline-block;
    margin-left: 60px;
    align: center;
}
.container3 {
    display: inline-block;
    margin-left: 30px;
    align: center;
}
.highlight {
    background-color: yellow;
}

